/* 
font-family: 'Anton', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Kameron', serif;
*/


body{
    background-color:white;
    margin:0;
    color:black;
}

#aboutTxt{
    position:absolute;
    width:30%;
    left:10%;
    top:20%;

}
#aboutImg{
    position:absolute;
    width:30%;
    right:10%;
    top:20%;

}

.subtitle{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 10%;
}
.skillImg{
    max-width:300px;
    float:left;

}

.portfolioItem{
    width:15%;
    border:solid black 2px;
    height:40%;
    padding:3%;

    float:left;
}

#portfolioItemDiv{
    margin:25% 5% 5% 0;
    display:block;
}

#skillImgDiv{
    position:absolute;
    top:35%;
    left:0;
    background-color:blue;
    width:100%;
}

#navBar{
    width:100%;
    height:50px;
    background-color:black;
    z-index:4;
    position: fixed;
    top:0;
}

#footer{
    width:100%;
    height:40px;
    background-color:black;
    z-index:4;
    position: fixed;
    bottom:0;
}

#intro,#about,#portfolio,#links,#skill{
    position: relative;
    z-index:1;
    width:100%;
    height:100%;
    display:block; 
}

#intro{
    background-size:cover;
    background-image: url("../img/bg_img.jpg");
    color:white;
}

#titleTextDiv1, #titleTextDiv2{
    position:absolute;
    z-index:2;
    font-family: 'Anton', sans-serif;
}

#titleTextDiv1{
    font-size:100px;
    left:5%;
    bottom:35%;
}

#titleTextDiv2{
    font-size:60px;
    left:14%;
    bottom:27%;
}

.moveBtn,.upBtn{
    transform: rotate(90deg);
    position:absolute;
    bottom:1.5%;
    left:46%;
    font-size:40px;
    border:1px solid darkgray;
    border-radius: 5px;
    background-color:transparent;
    color:darkgray;
    cursor: pointer;
    z-index:5
}


.moveBtn:hover{
    background-color: grey;
    /* color:black; */
}


@media screen and (max-width: 430px) {
    #titleTextDiv1{
        font-size:55px;
    }
    #titleTextDiv2{
        font-size:35px;
    }
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color:white;
    font-size:30px
}

a{
    scroll-behavior: smooth;
}
