/* 
font-family: 'Anton', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Kameron', serif;
*/

.genTxt{
    font-size:16px;
}


body{
    background-color:black;
    margin:0;
    color:white;
}

.subtitle{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 5%;
}


.pfImg{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    cursor:pointer;
    position: relative;
    top: 15%;
}


.contentDiv{
    position: absolute;
    top: 17%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
}
.skillImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:100%;
}

#navBar{
    width:100%;
    height:50px;
    background-color:black;
    z-index:4;
    position: fixed;
    top:0;
}

#footer{
    width:100%;
    height:40px;
    background-color:black;
    z-index:4;
    position: fixed;
    bottom:0;
}

#intro,#about,.portfolio,#links,#skill{
    position: relative;
    z-index:1;
    width:100%;
    height:100%;
    display:block; 
}



#intro, #pfIntro{
    background-size:cover;
    color:white;
}


#intro{
    background-image: url("../img/bg_img.jpg");
}
#pfIntro{
    background-image: url("../img/pf_bg.jpg");
}


#titleTextDiv1, #titleTextDiv2{
    position:absolute;
    z-index:2;
    font-family: 'Anton', sans-serif;
}

#titleTextDiv1{
    font-size:100px;
    left:5%;
    bottom:35%;
}

#titleTextDiv2{
    font-size:60px;
    left:14%;
    bottom:27%;
}

.moveBtn,.upBtn{
    position:absolute;
    bottom:1.5%;
    left:41%;
    font-size:40px;
    border:1px solid darkgray;
    border-radius: 5px;
    background-color:transparent;
    color:darkgray;
    cursor: pointer;
    z-index:5
}


.moveBtn:hover{
    background-color: grey;

}

#jqImg{
    top:0;
    left:0;
}


@media screen and (max-width: 430px) {
    #titleTextDiv1{
        font-size:55px;
    }
    #titleTextDiv2{
        font-size:35px;
    }

    #profileImg{
        width:190px;
    }

    .contentDiv{
        position: absolute;
        top: 20%;
    }
    .skillImg{
        max-width: 100%;
    }   
}



a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color:white;
    font-size:30px
}

a{
    scroll-behavior: smooth;
}

